* {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}

#top-menu {
    border-bottom: 3px solid rgb(255, 126, 39);
    height: 135px;
    width: 100%;
}

#logo {
    height: 130px;
    width: 80%;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.top-menu-items {
    float: left;
    user-select: none;
}

.signin-items {
    height: 50px;
    width: 50px;
    margin: 5px 0 5px;
    position: relative;
    border-radius: 50%;
    text-align: center;
}

.signin-items p {
    position: absolute;
    top: 42px;
}


#login {
    background-image: url(../images/login-icon.png);
    background-size: contain;
}

#signup {
    background-image: url(../images/signup-icon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#signup p {
    top: 45px;
}

#bottom-menu {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    user-select: none;
}

.bottom-buttons {
    position: relative;
    top: 10px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 5px;
    padding: 2px;
    float: left;
    cursor: pointer;
    background-color: white;
    color: orange;
    font-size: 15px;
    transition: all 0.3s;
}

.bottom-buttons:hover {
    background-color: #ccc;
    color: rgb(0, 0, 179);
    transform: translateY(-3px);
    opacity: 0.7;
}

.container-pages {
    display: none;
    text-align: center;
}

#home-page {
    display: block;
}

#start-page button {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px 0;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #ff0000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modal-inner-content form {
    width: 300px;
    margin: 100px auto;
}

.modal-inner-content div {
    width: 100%;
    margin: 15px auto;
}

.modal-inner-content label {
    display: block;
    padding: 20px;
    font-size: 25px;
}

.modal-inner-content input {
    width: 83%;
    padding: 10px;
    border: 1px solid #797979;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 3px;
}

.modal-inner-content button {
    margin: 20px;
    padding: 10px;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(90deg, orange, rgb(255, 63, 30));
}

.modal-inner-content span {
    display: block;
    margin-left: 20px;
    color: red;
    font-style: italic;
}